@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;700&family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;700&family=Raleway:wght@700&display=swap');
.content {
    min-height: 100vh;
    width: 100%;
}

#home {
    object-fit: cover;
    background: url('../../Resources/4391681.webp') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.title-name {
    font-family: 'Raleway';
    color: white;
    letter-spacing: 0.1rem;
}

.home-text {
    margin-left: 30px;
}

section {
    display: block;
    padding: 50px;
    padding-top: 60px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Raleway';
}

.title {
    color: #040b14;
    margin-bottom: 20px;
}

.title::after {
    content: '';
    background-color: #0d6efd;
    width: 100px;
    height: 5px;
    display: block;
}

.subtitle-name {
    color: white;
    width: fit-content;
    font-style: 'Inconsolata' !important;
}

.subtitle-name::after {
    content: '';
    background-color: #0d6efd;
    height: 5px;
    display: block;
}

.text {
    margin-bottom: 10px;
    font-family: 'Open Sans';
    font-size: 1.1rem;
}

#education, .contact {
    background-color: #f5f8fd;
}

.education-div::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
}

.education-div {
    border-left: 2px solid #1f5297;
    padding: 0 10px 10px 10px;
    margin-bottom: 10px;
}

.subtitle {
    color: #040b14;
}

.education-div h4 {
    font-family: 'Poppins';
}

.year {
    background-color: #e4edf9;
    padding: 5px 15px;
    width: fit-content;
}

.education-text {
    max-width: 600px;
}

.tech {
    font-size: 1rem;
    font-family: 'Open Sans';
    font-weight: 700;
}

.percentage {
    float: right;
}

.bar {
    background-color: #dce8f8;
    height: 10px;
}

.bar-mini {
    background-color: #149ddd;
    height: 10px;
}

.skill-div {
    margin-bottom: 20px;
}

.p60 {
    width: 60%;
}

.p75 {
    width: 75%;
}

.p70 {
    width: 70%;
}

.p80 {
    width: 80%
}

.p90 {
    width: 90%;
}

.p100 {
    width: 100%;
}

.skills-divs {
    margin-top: 30px;
}


.contact {
    padding-bottom: 130px;
  }
  
  .contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
  }
  
  .contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #173b6c;
  }
  
  .contact .info .email p {
    padding-top: 5px;
  }
  
  .contact .info .social-links {
    padding-left: 60px;
  }
  
  .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
  }
  
  .contact .info .social-links a:hover {
    background: #149ddd;
    color: #fff;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #149ddd;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form .form-group {
    margin-bottom: 15px;
  }
  
  .contact .php-email-form label {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 15px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #149ddd;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #37b3ed;
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}