@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

#side_nav {
    background-color: #040b14;
    position: fixed;
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
    z-index: 9000;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border: 8px solid #2c2f3f;
    margin-bottom: 10px;
}

a span {
    margin-left: 2px;
}

.icon {
    width: 100px;
}

.links-div {
    padding-top: 20px;
    padding-left: 10px;
    min-height: 260px;
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.nav-link {
    transition: 0.5s;
    color: white;
}

.nav-link:hover {
    cursor: pointer;
    color: #0d6efd !important;
}

.lang-div {
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}

.lang-link.current {
    color: #0d6efd;
    text-decoration: underline;
}

.lang-link {
    color: white;
    text-decoration: none;
}

.lang-link:hover {
    color: #0d6efd;
    cursor: pointer;
}

.fake-element {
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
}

.link-icon {
    margin-right: 7px;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 5px;
    right: 5px;
    z-index: 9999;
}

.close-btn {
    display: none;
}

@media screen and (max-width: 800px) {
    .close-btn {
        display: flex;
    }

    .icon1-notclicked {
        display: block;
    }
    
    .icon1-clicked {
        display: none;
    }

    .sidebar {
        transition: all 200ms ease;
        left: -300px;
    }

    .sidebar.clicked {
        left: 0;
    }

    .fake-element {
        display: none;
    }
}